name: NSE_Stock_Bot

on:
  schedule:
    # Runs every 15 mins (at 0, 15, 30, 45) from 3:45 UTC to 10:15 UTC
    # This covers 9:15 AM to 3:45 PM IST, Monday to Friday.
    - cron: '0,15,30,45 4-9 * * 1-5'
    - cron: '45 3 * * 1-5'
  workflow_dispatch: # Allows you to test it manually

jobs:
  run-bot:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install Libraries
        run: pip install -r requirements.txt

      - name: Run Script
        env:
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
        run: python bot.py
